# Force main source files
*.js     linguist-language=JavaScript
*.jsx    linguist-language=JavaScript
*.ts     linguist-language=TypeScript
*.tsx    linguist-language=TypeScript
*.py     linguist-language=Python

# Ignore everything else (so build / extra files don't skew stats)
node_modules/** linguist-vendored
dist/**         linguist-vendored
build/**        linguist-vendored
__pycache__/**  linguist-vendored
*.pyc           linguist-vendored
*.log           linguist-vendored
